[submodule ".themes/MediumFox"]
  path = .themes/MediumFox
  url = https://github.com/sevenadrian/MediumFox
[submodule ".themes/foxslide"]
  path = .themes/foxslide
  url = https://github.com/sevenadrian/foxslide
[submodule "posts"]
	path = posts
	url = git://github.com/betarelease/blog_posts.git
