---
layout: about
hide_sidebar: true
title: Sudhindra Rao
---
<main role="main">
  <section class="section">
    <div class="container">
      <h2><a href="blogs">Recent blog posts</a></h2>
      {% capture recent_blogs %}{% include recent_blogs.md %}{% endcapture %}
      {{ recent_blogs | markdownify }}
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>Some useful code I have written</h2>
      {% capture projects %}{% include projects.md %}{% endcapture %}
      {{ projects | markdownify }}
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>I was surprised people listened</h2>
      {% capture presentations %}{% include presentations.md %}{% endcapture %}
      {{ presentations | markdownify }}
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>Who would have thought they would get published</h2>
      {% capture articles %}{% include articles.md %}{% endcapture %}
      {{ articles | markdownify }}
    </div>
  </section>

</main>
