<footer class="footer" role="complementary">
  <div class="container">
    <div class="footer__inner">
      <h3>Thank you for reading :)</h3>
      <ul class="social-links social-links--footer">
        <li><a href="http://twitter.com/sudhindrarao/" target="_blank"><i class="fa fa-twitter fa-2x" title="twitter"></i></a></li>
        <li><a href="https://github.com/betarelease/" target="_blank"><i class="fa fa-github fa-2x" title="github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/sudhindrarao" target="_blank"><i class="fa fa-linkedin-square fa-2x" title="linkedin"></i></a></li>
      </ul>
      
    </div>
  </div>
</footer>
