<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body>

  {% include sidebar.html %}
  <div class="topbar">
    <span class="menu-trigger"><img class="tiny-avatar" src="/images/me.png">Sudhindra Rao</span>
    <a href="http://twitter.com/sudhindraRao"><img class="twitter" src="/images/Twitter_logo_blue.png"></a>
  </div>

  <div class="content container">
    {{ content }}
  </div>

  <script type="text/javascript">
  $(".menu-trigger").click(function(){
    $(".topbar").toggleClass("slide-right");
    $(".sidebar" ).slideToggle("slow");
  });
  </script>
</body>
</html>
